.team-container {
    display: flex;
    justify-content: space-between;
  }
  
  .team-member {
    flex-basis: 0;
    flex-grow: 1;
  }
.container{
    background-color: rgb(226, 218, 204);
    /* color: #fff; */
    text-align: center;
    padding: 10px;
    left: 0;
    width: 100%;
    bottom: 0;
    position: relative;
    margin-top: 20;

footer p{
    margin: 0;
    }
      
footer a{
        color: goldenrod;
    }
      
@media only screen and (max-width: 600px) {
    /* CSS styles for small screens */
    }

/* Social media icon styles */
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}